
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(42, 58, 80, 0.55), rgba(42, 58, 80, 0.55)),
    url("/Images/1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.hero-text {
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
}


.font {
  color: rgb(222, 60, 60);
  font-weight: 800;
}



@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 46px;
    line-height: 1.3;
  }
}


@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 38px;
    line-height: 1.3;
  }
}


@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 30px;
    line-height: 1.4;
  }
}


