/* .img-1{
  height: 500px;
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  transition: .5s;
}
.img-1 img{
  display: block;
  width: 100%;
  border-radius: 5px;
}
.img-1:hover{
  transform: scale(1.04);
  z-index: 2;
}
.div-main{
  height: 650px;
}
.div-class{
  display: flex;
  gap: 50px;
  margin-top: 7%;
}
.div-p{
  margin-top: 5%;
}
.p{
  font-size: 17px;
}
.p-span{
  color: #F15A5A;
  font-weight: 600;
}
.h1-class{
  margin-top: 5%;
  margin-left: 8%;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  opacity: .8;
}
.p1{
  margin-top: 7%;
} */


/* IMAGE */
.img-1 {
  height: 500px;
  width: 650px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  transition: .5s;
  object-fit: cover;
}

.img-1:hover {
  transform: scale(1.04);
  z-index: 2;
}

/* MAIN WRAPPER */
.div-class {
  display: flex;
  gap: 50px;
  margin-top: 7%;
  align-items: center;
  justify-content: center;
}

/* IMAGE CONTAINER */
.div-main {
  height: auto;
}

/* TEXT SECTION */
.div-p {
  margin-top: 5%;
  max-width: 550px;
}

.p {
  font-size: 17px;
}

.p-span {
  color: #F15A5A;
  font-weight: 600;
}

.h1-class {
  margin-top: 5%;
  margin-left: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  opacity: .8;
}

.p1 {
  margin-top: 7%;
}


/* Tablets (max-width: 992px) */
@media (max-width: 992px) {
  .div-class {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .img-1 {
    width: 90%;
    height: 380px;
  }

  .h1-class {
    font-size: 30px;
    line-height: 38px;
    text-align: left;
  }

  .div-p {
    margin-top: 0;
  }
}

/* Mobile devices (max-width: 600px) */
@media (max-width: 600px) {
  .img-1 {
    width: 100%;
    height: 280px;
  }

  .h1-class {
    font-size: 30px;
    line-height: 32px;
  }

  .p {
    font-size: 18px;
    text-align: left;
  }

  .p1 {
    font-size: 17px;
    text-align: left;
    margin-bottom: 10%;
  }

  .div-class {
    gap: 20px;
    margin-top: 15%;
  }
}
