

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 15px 40px;
  background: white;
  display: flex;
  color:black;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.dark-nav {
  background: white;
  color:#111;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.transparent-nav {
  background: transparent !important;
  color: white !important;
  box-shadow: none !important;
  position: fixed;
}

.active-link {
  position: relative;
  font-weight: 600;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #f25252; /* your brand color */
  border-radius: 4px;
}

.transparent-nav .nav-title,
.transparent-nav .nav-links li a,
.transparent-nav .menu-icon {
  color: white;
}



.nav-top {
  display: flex;
  align-items: center;
  gap: 34px;
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.nav-title {
  font-size: 20px;
  font-weight: 600;
  color: #F25252;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  transition: 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  font-size: 17px;
  color: #333;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #ff6600;
}


.btn-nav {
  padding: 10px 20px;
  background: #F25252;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-nav:hover {
  background: #e55a00;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}
@media (max-width:1200px){
  .menu-icon{
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    display: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .navbar-container {
    padding: 12px 20px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .nav-title {
    font-size: 16px;
  }
}
