



.Working-top {
  background-color: rgb(60, 60, 60);
  color: white;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  padding: 40px 5%;
  gap: 40px;
}

.Working-left {
  width: 50%;
}

.Working-h {
  font-size: 60px;
  margin-bottom: 10px;
}

.Working-subtitle {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Working-span {
  color: rgb(233, 45, 45);
}

.Working-p1 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.6;
}

.Working-p2 {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.6;
}


.Working-ul {
  margin-top: 25px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}
.ul-l1{
  list-style-type: none;
}

.Working-ul li {
  list-style-type: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.icons {
  margin-right: 8px;
  color: #F05454;
  font-size: 18px;
}

/* Right Image */
.Working-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.Working-img {
  width: 100%;
  max-width: 900px;
  height:auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}



@media (max-width: 992px) {
  .Working-top {
    flex-direction: column;
    text-align: left;
    padding: 40px 4%;
  }

  .Working-left,
  .Working-right {
    width: 100%;
  }

  .Working-h {
    font-size: 48px;
  }

  .Working-subtitle {
    font-size: 22px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .Working-h {
    font-size: 36px;
  }

  .Working-subtitle {
    font-size: 20px;
    line-height: 1.4;
  }

  .Working-p1,
  .Working-p2 {
    font-size: 15px;
  }

  .Working-ul {
    flex-direction: column;
    gap: 12px;
  }

  .Working-img {
    width: 100%;
    margin-top: 30px;
  }
}
